<td><%= i.roll %></td>
<td><%= i.name %></td>
<td data-value="<%= i.dob %>" class="dobVal"><%= i.dob %></td>
<td><%= i.score %></td>
<td><a href="/teachers/edit/<%= i._id %>"><i id="editBtn" class="fa-solid fa-pen"></i></a>&emsp;<a href="/teachers/delete/<%= i._id %>"><i id="deleteBtn" class="fa fa-solid fa-trash fa-lg"></i></a></td>