<link href="css/style.css" rel="stylesheet" type="text/css">

<%- include('./_header.ejs') %>
<%- include('./_backbutton.ejs') %>

<h2 id="findResultHeading">Find Result</h2>

<form action="/students/studentResult" method="get" class="searchForm">
    <input type="string" name="roll" placeholder="Enter your roll number" required style="width: 55%; height: 5%; text-align: center;">
    <input type="text" name="name" placeholder="Enter your name" required style="width: 55%; height: 5%; text-align: center; display: block">
    <input type="submit" class="btnSubmit" value="Submit" style="width: 14%; margin-left: 12%; margin-top: 2%;">
    <input type="reset" class="btnReset" value="Reset" style="width: 14%; margin-left: 5%; margin-top: 2%;">
</form>
<script>
    <% if(flash.success && flash.success.length > 0) {%>
        new Noty({
            theme: 'relax',
            text: '<%= flash.success %>',
            type: 'success',
            layout: 'topRight',
            timeout: 1500
        }).show();
    <%}%>

    <% if(flash.error && flash.error.length > 0) {%>
        new Noty({
            theme: 'relax',
            text: '<%= flash.error %>',
            type: 'error',
            layout: 'topRight',
            timeout: 1500
        }).show();
    <%}%>
    
</script>
<%- include('./_footer.ejs') %>