<link href="/css/style.css" rel="stylesheet" type="text/css">

<%- include('./_header.ejs') %>
<%- include('./_backbutton.ejs') %>
<h1 id="resultHeading">Result</h1>
<h4 class="resultRows">Roll No. :</h4>
<h4 class="resultRowsValues"><%= result.roll %></h4>
<h4 class="resultRows">Name :</h4>
<h4 class="resultRowsValues"><%= result.name %></h4>
<h4 class="resultRows" id="dobInput" data-value="<%= result.dob %>">D.O.B :</h4>
<h4 class="resultRowsValues"><%= dob %></h4>
<h4 class="resultRows">Score :</h4>
<h4 class="resultRowsValues"><%= result.score %></h4>

<%- include('./_footer.ejs') %>