<%- include('./_header.ejs') %>
<%- include('./_backbutton.ejs') %>

<!-- <a href="/teachers/newResult"><button type="button" id="createResultButton" class="btnSuccess">Success</button></a> -->
<table>
    <tr>
        <th>Roll No.</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Score</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>1</td>
        <td><%= result[0].name %></td>
        <td><%= result[0].dob %></td>
        <td><%= result[0].score %></td>
        <td>Action</td>
    </tr>
    <tr>
        <td>2</td>
        <td><%= result[1].name %></td>
        <td><%= result[1].dob %></td>
        <td><%= result[1].score %></td>
        <td>Action</td>
    </tr>
</table>

<%- include('./_footer.ejs') %>